{% extends 'base.html.j2' %}

{%block title%}
{%endblock%}

{% block content %}
    <div class="compare-title">
        <h1>{{players[0].season}} {{players[0].name}}</h1> <h1>&nbsp;  &nbsp; &nbsp; VS &nbsp; &nbsp; &nbsp; </h1> <h1>{{players[1].season}} {{players[1].name}}</h1>
    </div>
    
        {%if players %}
        <div class="compare-body">
            {% for x in players%}
                <div class="card" style="width: 25rem;border-style: inset;font-variant: small-caps;">
                    <h5 class="card-title" style = "color:{{x.team_color}};font-size:125%">{{x.team}}</h5>
                    
                    <h5 class="card-title" style="font-size:150%;"># {{x.jersey}}</h5>
    
                    <div class="card-body">
                        <img class = "playerpic" src="{{x.pic}}" class="card-img-top" alt="player pic" style="background-image:url({{x.team_pic}})">
                        <hr>
                        <h4 class="card-title" style = "color:{{x.team_color}};">{{x.name}}</h4>
                        <h5 class="card-title" style="font-size:150%;">{{x.position}}</h5>
                        <hr>
                        <p class="card-text">
                            <ul>
                            <li>Per Game Stats</li>
                            <hr style="color:{{x.team_color}}">
                            <li>PPG : {{x.ppg}}</li>
                            <li>RPG : {{x.rpg}}</li>
                            <li>APG : {{x.apg}}</li>
                            <li>BPG : {{x.bpg}}</li>
                            <li>SPG : {{x.spg}}</li>
                            <li>TO : {{x.tpg}}</li>
                            <li>PF : {{x.pf}}</li>
                            <hr>
                            <li>Percentages</li>
                            <hr style="color:{{x.team_color}}">
                            <li>FG : {{x.fgpct}}%</li>
                            <li>3FG : {{x.fgtpct}}%</li>
                            <li>FT : {{x.ftpct}}%</li>
                            <hr style="color:{{x.team_color}}">
                            <li>MPG : {{x.mpg}}</li>
                            <li>Games Played : {{x.games}} / 82</li>
                            </ul>
                        </p>
                        <a href="{{url_for('addtoteam', id=x.main_id)}}" class="btn btn-secondary mx-3">Add to My Team</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    
{%endblock%}