{% extends 'base.html.j2' %}

{%block title%}
    Your Squad
{%endblock%}


{% block content %}
    {%if teamlist %}
    <div class="whole">
    {% for x in teamlist %}
    <div class="squad">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h2 class="card-title">{{Stats.existsid(x.main_id).season}} Season</h2>
            <img class = "playerpic" src="{{x.pic}}" class="card-img-top" alt="player pic" style="background-image:url({{x.team_pic}})">
                <h4 class="card-title">{{x.full_name}}</h4>
                <hr style="color:{{x.team_color}}">
                <h6 class="card-text">{{x.team}}</h6>
                <h6 class="card-text"># {{x.jersey}}</h6>
                <hr style="color:{{x.team_color}}">
                <p class="card-text">
                    <ul>
                    <li>PPG: {{Stats.existsid(x.main_id).ppg}}</li>
                    <li>RPG: {{Stats.existsid(x.main_id).rpg}}</li>
                    <li>APG: {{Stats.existsid(x.main_id).apg}}</li>
                    <li>SPG: {{Stats.existsid(x.main_id).spg}}</li>
                    <li>MPG: {{Stats.existsid(x.main_id).mpg}}</li>
                    </ul>
                </p>
                <a href="{{url_for('remove', id=x.main_id)}}" class="btn btn-danger mx-3">Remove from team</a>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    </div>
{%endblock%}